.matrix-table {
    position: relative;
}
/* Rectangular pseudo-element before and after the table */
.matrix-table::before,
.matrix-table::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px; 
}
/* Make the left pseudo-element look like a bracket */
.matrix-table::before {
    left: 0px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* Make the right pseudo-element look like a bracket */
.matrix-table::after {
    right: 0px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.matrix-table td {
    text-align: center;
    vertical-align: middle;
    width: 6ch; /* matches the DraggableNumber width */
}
.matrix-table tr {
    line-height: 1.5;
}

.math-diagram-structure-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.math-diagram-structure-table td {
    text-align: center;
    vertical-align: middle;
}

.kalman-gain-state-space {
    background-color: rgb(187, 187, 187);
}

.kalman-gain-intermediate-space {
    background-color: #dddddd;
}

.kalman-gain-measurement-space {
    background-color: rgb(255, 252, 238);
}

.kalman-gain-state-gaussian-expr {
    border: 2px solid rgb(0, 0, 255);
    border-radius: 10px;
}

.kalman-gain-measurement-gaussian-expr {
    border: 2px solid rgb(0, 150, 0);
    border-radius: 10px;
}

.kalman-gain-combined-gaussian-expr {
    border: 2px solid rgb(240, 0, 0);
    border-radius: 10px;
}

.next-state-gaussian-expr {
    color: rgb(240, 0, 0);
    /* border: 2px solid green; */
}

.previous-state-gaussian-expr {
    color: blue;
    /* border: 2px solid blue; */
}

.figure-plot {
    width: max-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Outline the table temporarily so I can see what I'm doing */

/* .math-diagram-structure-table {
    border: 1px solid #ddd;
} */

/* .math-diagram-structure-table td {
    border: 1px solid #ddd;
}

.math-diagram-structure-table tr:nth-child(even) {
    background-color: #f2f2f2;
} */