This is an interactive web article about the Kalman Filter, an algorithm which is used extensively in everything from robotics to neuroscience to estimate the state of time-varying systems. At its core, the Kalman Filter is a marriage of Probability first-principles with Linear Systems theory. Both of these topics are beautiful and make a lot of intuitive sense, but it is not easy to see that if your first exposure is to the full matrix equations of the Kalman Filter. The goal of this project is to break the Kalman Filter down into its subcomponents and use interactive elements to create a concise, intuitive explanation that is approachable for all levels of experience.

There are four primary interactive elements for this article. The user is able to:
- Hover with the mouse over each symbol/expression in the algorithm and get an explanation of what that term represents, and how it makes sense in terms of probability first-principles.This will make it easier to see the layers of interpretation that each term contains (from definitions to intuition), and arrange them spatially. This is an improvement over reading paragraphs of derivations and then referring back to the algorithm to see how they're incorporated in the intimidating matrix equations.
- Manually type in the desired naming convention, or click buttons to change between pre-set naming conventions. All of the variables will be provided in a table with a description of their role, but the user will have control over what symbols should be used to represent each variable, and these choices will propagate to the entire article. This will make it easier to match the description in this article to other sources.
- Drag the values in each matrix with the mouse, and visualize the effect in a plot that contains the Gaussian distributions of the current state estimate, current measurement, and the combined estimate using the Kalman Gain. There will be multiple examples: a 1D cart with LiDAR, and a 2D example of altitude estimation with a rocket.
- See the plot of how the Kalman Filter performs over time (with a 95% confidence interval) in light of the changes the user made to the different matrices.